---
title: "计算机视觉前沿交叉实验室 - 主页"
layout: homelay
excerpt: "计算机视觉前沿交叉实验室: 主页"
sitemap: false
permalink: /
---

<div class="hero-section">
  <div class="row">
    <div class="col-sm-7">
      <div class="image-container">
        {% include showimg.html %}
      </div>
    </div>
    <div class="col-sm-5">
      <div class="intro-container">
        {% include intro.html %}
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="row">
    <div class="col-sm-6">
      <div class="content-card">
        <div class="card-header">
          <h3><i class="fas fa-newspaper"></i> 最新动态</h3>
        </div>
        <div class="card-body">
          {% include news.html %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="content-card">
        <div class="card-header">
          <h3><i class="fas fa-home"></i> 实验室概况</h3>
        </div>
        <div class="card-body">
          {% include homepub.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-section">
  <div class="row">
    <div class="col-sm-4">
      <div class="feature-item">
        <div class="feature-icon">
          <span class="icon-symbol">🔬</span>
        </div>
        <h4>前沿研究</h4>
        <p>专注于计算机视觉与人工智能的交叉领域研究</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-item">
        <div class="feature-icon">
          <span class="icon-symbol">👥</span>
        </div>
        <h4>优秀团队</h4>
        <p>汇聚国内外顶尖人才，打造一流研究团队</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-item">
        <div class="feature-icon">
          <span class="icon-symbol">🌍</span>
        </div>
        <h4>国际视野</h4>
        <p>积极开展国际合作，参与国际学术交流</p>
      </div>
    </div>
  </div>
</div> 