<div id="footer" class="panel" style="margin: 0px; background-color:#fffffff1;">
  <div class="panel-footer" style="background-color:#fffffff1;">
	<div class="container-fluid">
	  <div class="row">


			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://www.ouc.edu.cn/" style="color:#4b4b4b">中国海洋大学</a></li>
				<li><a href="https://it.ouc.edu.cn/" style="color:#4b4b4b">中国海大信息学部</a></li>
				<!-- <li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment">Recruitment</a></li> -->
			</ul>

		
	  </div>
	  <div class="row" style="text-align: center; margin-top: 10px;">
        <p style="color:#4b4b4b; font-size: 14px;">powered by 童亨, 孔松琦, 李绍铭， 吴兴政</p>
      </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
