
<!-- <div class="well">
<h4>News</h4>

{% for article in site.data.news limit:6 %}
{{ article.date }}
<p style="color: rgba(248, 64, 64, 0.767);"><em>{{ article.headline }}</em></p>
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">...all News</a></h4>
    
</div> -->

<!--

<div class="panel panel-primary">
<div class="panel-heading" style="background-color:#13458b">
    <h3 class="panel-title">新闻</h3>
</div>
<div class="panel-body" style="background-color: #f2f0f0;">
    {% for article in site.data.news limit:6 %}
    {{ article.date }}
    <p style="color: rgba(251, 71, 71, 0.868);"><em>{{ article.headline }}</em></p>
    {% endfor %}
    
    <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">...更多新闻</a></h4>
</div>
</div>

-->

<div class="row" style="max-width: 800px; margin: auto;">
    <h3 style="text-align: center;">新闻动态</h3>

    {% for article in site.data.news limit:6 %}
        <div class="row" style="max-width: 800px; margin: auto;">
            <div class="col-sm-12">
                <p style="font-size: 16px; margin-bottom: 5px;">
                    <strong>{{ article.date }}</strong>
                </p>
                <p style="color: rgba(251, 71, 71, 0.868); font-size: 16px;">
                    <em>{{ article.headline }}</em>
                </p>
            </div>
        </div>
    {% endfor %}

    <p style="text-align: center; margin-top: 10px;">
        <a href="{{ site.url }}{{ site.baseurl }}/allnews.html" 
           style="text-decoration: none; color: #007bff; font-weight: bold;">
            ...更多
        </a>
    </p>
</div>

