<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>团建活动</title>
</head>
<body>



<div class="section-header">
  <div class="section-icon">🎤</div>
  <div>
    <h2 class="section-title">举办团建活动</h2>
  </div>

</div>


<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2026年6月13日<br>
      <strong>地点：</strong>中国海洋大学-2023级硕士毕业</div>

    <img id="imageDisplay" class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/2023级毕业/image1.jpg" alt="活动合影">

    <button onclick="changeImage(-1)" style="position: absolute; top: 50%; left: 10px; background-color: rgba(0,0,0,0.5); color: white; border: none; padding: 10px; border-radius: 50%; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; font-size: 16px;">
        &#10094;
      </button>
      <button onclick="changeImage(1)" style="position: absolute; top: 50%; right: 10px; background-color: rgba(0,0,0,0.5); color: white; border: none; padding: 10px; border-radius: 50%; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; font-size: 16px;">
        &#10095;
      </button>

</div>

<script>
      let currentImage = 7;
      const totalImages = 7;


      function changeImage(direction) {
        currentImage += direction;
        if (currentImage > totalImages) currentImage = 1;
        if (currentImage < 1) currentImage = totalImages;
        document.getElementById('imageDisplay').src = `{{ site.url }}{{ site.baseurl }}/images/团建/2023级毕业/image${currentImage}.jpg`;

      }

      // 添加自动轮播功能
      setInterval(function() {
        changeImage(1);
      }, 5000); // 每5秒自动切换
    </script>





<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2025年12月24日<br>
      <strong>地点：</strong>餐厅聚餐</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image10.jpg" alt="活动合影">

</div>

<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2025年10月5日<br>
      <strong>地点：</strong>青岛市鲜海海滩</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image1.jpg" alt="活动合影">

</div>




<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2024年10月25日<br>
      <strong>地点：</strong>迎新聚餐</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image6.jpg" alt="活动合影">

</div>




<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2025年10月5日<br>
      <strong>地点：</strong>青岛市鲜海海滩2023级硕士合照</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image7.jpg" alt="活动合影">

</div>


<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2025年10月5日<br>
      <strong>地点：</strong>青岛市鲜海海滩2024级硕士合照</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image8.jpg" alt="活动合影">

</div>




<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2025年10月5日<br>
      <strong>地点：</strong>青岛市鲜海海滩2025级硕士合照</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image9.jpg" alt="活动合影">

</div>

<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2025年7月6日<br>
      <strong>地点：</strong>餐厅聚餐</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image3.jpg" alt="活动合影">

</div>


<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2025年6月6日<br>
      <strong>地点：</strong>中国海洋大学</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image2.jpg" alt="活动合影">

</div>



<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2024年11月6日<br>
      <strong>地点：</strong>花园合照</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image5.jpg" alt="活动合影">

</div>


<div class="activity-container">
    <div class="activity-title"><strong>时间：</strong>2024年8月8日<br>
      <strong>地点：</strong>谭润清生日</div>

    <img class="activity-photo" src="{{ site.url }}{{ site.baseurl }}/images/团建/image4.jpg" alt="活动合影">

</div>